@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p,
li {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #040404;
    font-size: 18px;
}

h1,
h2,
h3 {
    font-family: Open-Sans, sans-serif;
    color: #04A4AC;
}

h2 {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 21px;
}

h4 {
    font-family: Open-Sans, sans-serif;
    font-size: 18px;
}


/* logo */

#logo {
    float: left;
    height: 50px;
    margin-left: 30px;
    margin-top: 12.5px;
}

/* navigation menu */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    padding-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    text-decoration: underline;
}

#menu a.active {
    text-decoration: underline;
}

nav ul {
    display: flex !important;
    flex-direction: reverse !important;
    float: right !important;
}

/* primary button */

.btn-primary {
    text-decoration: none !important;
    background-color: transparent !important;
    border-color: #04A4AC !important;
    border-radius: 13px !important;
    border: 2px solid !important;
    color: #04A4AC !important;
    font-weight: bold !important;
    font-size: 18px !important;
    box-sizing: border-box !important;
    padding: 10px !important;
}

.btn-primary:hover {
    background-color: #04A4AC !important;
    border-color: #04A4AC !important;
    color: #f4f4f4 !important;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19) !important;
}

/* hero */

#hero-outer {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    animation: clip-hero-anim 1.25s cubic-bezier(0.29, 0.8, 0.8, 0.98);
    will-change: clip-path;
}

#hero {
    width: 100%;
    height: 600px;
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    animation: scaling-hero-anim 4s 0.25s cubic-bezier(0, 0.71, 0.4, 0.97) forwards;
    will-change: transform;
}

#hero-text {
    font-family: Open-Sans, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    z-index: 2;
}

#hero-text h1 {
    color: #04A4AC;
    font-size: 32px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero-text p {
    color: #f4f4f4;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* hero animation */

@keyframes scaling-hero-anim {
    from {
        transform: scale(1.25);
    }

    to {
        transform: scale(1.1);
    }
}

@keyframes clip-hero-anim {
    from {
        clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* about styling */

#about {
    height: 600px;
    margin: 50px 0 100px 0;
    padding: 0 75px 0 75px;
}

#about h2,
#about h3 {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #04A4AC;
}

#about p {
    margin-bottom: 20px;
    margin-top: 20px;
}

#about li::marker {
    color: #04A4AC;
}

#about ul {
    padding-left: 20px;
}

.strong {
    color: #04A4AC;
    font-weight: 300;
}

/* testimonial styling */

#testimonials {
    height: 750px;
    padding: 50px 75px 0 75px;
    background-color: #04A4AC;
}

#testimonials h2,
#testimonials p {
    color: #f4f4f4;
    margin-bottom: 50px;
}

/* testimonials flexbox */

.testimonials-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonials-flex-item {
    height: 300px;
    flex: 0 0 500px;
    margin: 0 auto;
}

iframe {
    border-radius: 20px;
}

/* book-call styling */

.book-call-photo {
    background: url("../images/book-call.jpg") no-repeat center;
    height: 500px;
    width: 500px;
    border-radius: 20px;
    margin-left: 75px;
    margin-top: 25px;
}

.book-call-text {
    padding-top: 30px;
    width: 66%;
    margin: 0 auto;
}

.book-call-button {
    align-items: center;
}